h1 {
    color:blue
}

.column {
    float: left;
}

/* Left and right column */
.column.ingredients {
width: 40%;
}

/* Middle column */
.column.methods {
width: 60%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column.ingredients, .column.methods {
    width: 100%;
}
}

.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
}
